.page {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 300px 1fr;
    background-color: #F3F3F3;
    .c-header {
      grid-column: 1 / 3;
    }
    .c-piechart {
      grid-column: 1 / 2;
    }
    .products-list {
      display: flex;
      justify-content: center;
      margin-top: 20%;
      margin-bottom: auto;
      grid-column: 2/3;
    }
}
  
  