@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
.header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 99%;
  padding: 0 2%;
  font-family: "Alata", sans-serif;

  -webkit-box-shadow: 0 8px 6px -6px #e9e0e0;
  -moz-box-shadow: 0 8px 6px -6px #e9e0e0;
  box-shadow: 0 8px 6px -6px #e9e0e0;
  border: 1px thick #e9e0e0 !important;

  .header-logo {
    width: 250px;
    margin-right: 0;
    display: flex;
    align-items: center;
    height: 95%;

    .logo-link {
      height: 70%;
      display: flex;
      align-items: center;
    }

    .logo-img {
      height: 100%;
      margin-right: 15px;

      &.text {
        height: 70%;
        font-family: "Alata", sans-serif;
      }
    }
  }
  .greeting {
    margin-left: auto;
    font-weight: lighter;
    color: rgb(245, 198, 68);
    font-size: 2em;
    font-family: "Alata", sans-serif;
    margin-bottom: 10px;
  }
  .system-buttons {
    margin-left: auto;
    font-family: "Alata", sans-serif;

    cursor: pointer;
    padding: 12px 23px 10px;
    border-radius: 6px;
    transition: 0.2s ease;
  }
}
